@model Photo
@{
    var photo = Model;
}

<div class="content-container">
    @await Html.PartialAsync("_Navbar")
    <div class="detail-contaier">
        <h2>
            @photo.Title
        </h2>
        <p>@photo.Description</p>
        <img src="@photo.ImgSrc" />
        @if (photo.Visible == true)
        {
            <p>Pubblico</p>
        }
        else
        {
            <p>Privato</p>
        }
        @if (photo.Categories.Any())
        {
            foreach (Category cat in photo.Categories)
            {
                <p>@cat.Name</p>
            }
        }
    </div>