<div class="home">
    <div class="container-home">
        <div>
            <h1>Album</h1>
            <h3>by Walter White</h3>
        </div>
        <a class="personal-btn personal-btn-primary" href="@Url.Action("Portfolio")">Portfolio</a>
    </div>
</div>