@model Photo[]
@{
    var photos = Model;
}

<div class="content-container">
    @await Html.PartialAsync("_Navbar")
    <div class="portfolio-container">
        @foreach (var photo in photos)
        {
            @await Html.PartialAsync("_Card", photo)
        }
    </div>
</div>