@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="content-container">
    @await Html.PartialAsync("_Navbar")
    <div id="photos-filter">
        <div class="form-field">
            <label>Filtra per titolo:</label>
            <input placeholder="Titolo" />
        </div>
    </div>
    <div class="portfolio-container">

    </div>
</div>

@section Scripts {
    <script>
        loadPhotos();
        initFilter();
    </script>
}