::-webkit-scrollbar-thumb {
    background-color: rgb(186, 186, 186);
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 4px;
}

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow:hidden;
}

main {
    height: 100%;
    padding: 0 10px;
}

.personal-btn {
    text-decoration: none;
    border-radius: 10px;
    padding: 7px 12px;
    font-family: Britannic;
    width: fit-content;
    letter-spacing:1px;
}

.personal-btn-primary {
    color: black;
    background-color: rgba(5, 98, 42, 1);
    transition: 0.3s;
}

.personal-btn-primary:hover {
    background-color: rgb(57 57 57);
    cursor: pointer;
}

.personal-btn-secondary {
    color: rgba(5, 98, 42, 1);
    background-color: lightgray;
    border: 2px solid rgba(5, 98, 42, 1);
    transition: 0.3s;
}

.personal-btn-secondary:hover {
    background-color: white;
    border: 2px solid rgba(5, 98, 42, 1);
    cursor: pointer;
}

.home {
    height: 100%;
    background-image: url('../img/back.jpg');
    background-position: center;
    background-size: cover;
    padding: 0 30px;
}

.container-home {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}

.home h1 {
    color: rgba(5, 98, 42, 1);
    font-family: Britannic;
    font-size: 85px;
    margin: 0;
}

.home h3 {
    color: rgba(5, 98, 42, 1);
    font-family: Britannic;
    font-size: 25px;
    margin: 0;
}

.home a {
    font-size: 20px;
}

.personal-card {
    max-width: 279px;
    min-width: 240px;
    height: fit-content;
    transition: 0.3s;
    border-radius: 5px;
    font-family: Britannic;
    background-color: lightgray;
}

.personal-card:hover {
    box-shadow: 0 4px 8px 0 rgb(128, 128, 128);
}

.personal-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.personal-card .text-container {
    padding: 10px 5px;
    color: rgba(5, 98, 42, 1);
}

.personal-card .text-container h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-bottom: 15px;
}

.personal-card .text-container .btn-container {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.personal-card .text-container .btn-container a button {
    font-size: 17px;
}

.personal-card .text-container .btn-container button:hover {
    cursor: pointer;
}

.content-container {
    background-color: rgb(58, 58, 58);
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
    height: calc(100% - 60px);
    overflow: hidden;
}

.portfolio-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: calc(100% - 65px);
    overflow: auto;
}

.detail-contaier {
    padding: 10px 10px 10px 10px;
    height: calc(100% - 65px);
    overflow: auto;
    color: lightgray;
    font-family: Britannic;
    letter-spacing: 0.7px;
}

.detail-contaier img {
    width: 100%;
}

nav {
    padding: 0 20px;
    background-color: lightgray;
    height: 45px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .title {
    color: rgba(5, 98, 42, 1);
    font-family: Britannic;
    font-size: 30px;
    margin: 0;
    text-decoration: none;
}

.nav-function .single-function {
    color: rgba(5, 98, 42, 1);
    font-family: Britannic;
    font-size: 23px;
    text-decoration: none;
    transition: 0.5s;
    margin-left:10px;
}

.nav-function .single-function:hover {
    color: rgb(8, 139, 60, 1);
    cursor: pointer;
}

.nav-function button {
    text-decoration: none;
    border: none;
    background: none;
    padding: 0;
}

.nav-function form {
    display: inline-block;
}

.create-container {
    padding: 10px 10px 10px 10px;
    height: calc(100% - 65px);
    overflow: auto;
    color: lightgray;
    font-family: Britannic;
    letter-spacing: 0.7px;
}

.create-container .form-part, .create-category-container .form-part {
    margin-bottom: 10px;
}

.create-container .text-error, .create-category-container .text-error, .login-container .text-error {
    color: rgb(194, 42, 37);
    font-size: 15px;
}

.create-container .form-label, .create-category-container .form-label {
    display: block;
}

.create-container .form-single, .create-category-container .form-single {
    width: 99%;
    padding: 3px;
}

.create-container .form-multi {
    width: 99%;
    padding: 3px;
}

.create-container h4 {
    margin:0;
}

.create-container .form-check, .multi-check{
    margin-bottom: 10px;
}

.category-container {
    padding: 10px 10px 10px 10px;
    height: calc(100% - 65px);
    overflow: auto;
    color: lightgray;
    font-family: Britannic;
    letter-spacing: 0.7px;
    text-align:center;
}

.category-container table {
    width: 99%;
    text-align: left;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.category-container table tr {
    height: 40px;
}

.category-container table tr:nth-child(even) {
    background-color: rgb(98, 98, 98)
}

.category-container table th {
    text-align: center;
}

.category-container table td {
    padding: 0 10px 0 10px;
}

.category-container table .table-btn-cont {
    width: 180px;
}

.category-container table .table-btn-cont form{
    display: inline-block;
}

.create-category-container {
    padding: 10px 10px 10px 10px;
    height: calc(100% - 65px);
    overflow: auto;
    color: lightgray;
    font-family: Britannic;
    letter-spacing: 0.7px;
}

.login-container {
    padding: 10px 10px 10px 10px;
    height: calc(100% - 65px);
    overflow: auto;
    color: lightgray;
    font-family: Britannic;
    letter-spacing: 0.7px;
}

.login-container h1 {
    margin: 0 0 10px 0; 
    font-size: 30px;
}

.login-container h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

.login-container .form-part {
    margin-bottom: 10px;
}

.login-container .form-label {
    display: block;
}

.login-container .btn-container {
    text-align: center;
}

.login-container button {
    font-size: 15px;
}