@page
@model LoginModel

<div class="content-container">
    @await Html.PartialAsync("_Navbar")
    <div class="login-container">
        <h1>Accedi</h1>
        <section>
            <form id="account" method="post" asp-route-returnUrl="@Url.Action("Portfolio", "Photo")">
                <h2>Utilizza l'account d'amministratore per accedere.</h2>
                <div asp-validation-summary="ModelOnly" class="text-error"></div>
                <div class="form-part">
                    <label asp-for="Input.Email" class="form-label">E-mail:</label>
                    <input asp-for="Input.Email" class="" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-error"></span>
                </div>
                <div class="form-part">
                    <label asp-for="Input.Password" class="form-label">Password:</label>
                    <input asp-for="Input.Password" class="" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-error"></span>
                </div>
                <div class="form-part">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="btn-container">
                    <button id="login-submit" type="submit" class="personal-btn personal-btn-secondary">Accedi</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
